header
  .container-fluid
    .row.py-3.border-bottom
      .col-sm-4.col-lg-3.text-center.text-sm-start
        .main-logo
          a(href='/')
            img.img-fluid(src='/client/images/logo.png' alt='logo')
      .col-sm-6.offset-sm-2.offset-md-0.col-lg-5.d-none.d-lg-block
        .search-bar.row.bg-light.p-2.my-2.rounded-4
          .col-md-4.d-none.d-md-block
            select.form-select.border-0.bg-transparent
              option All Categories
              option Groceries
              option Drinks
              option Chocolates
          .col-11.col-md-7
            form#search-form.text-center(action='index.html' method='post')
              input.form-control.border-0.bg-transparent(type='text' placeholder='Search for more than 20,000 products')
          .col-1
            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24')
              path(fill='currentColor' d='M21.71 20.29L18 16.61A9 9 0 1 0 16.61 18l3.68 3.68a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.39ZM11 18a7 7 0 1 1 7-7a7 7 0 0 1-7 7Z')
      .col-sm-8.col-lg-4.d-flex.justify-content-end.gap-5.align-items-center.mt-4.mt-sm-0.justify-content-center.justify-content-sm-end
        .support-box.text-end.d-none.d-xl-block
          span.fs-6.text-muted For Support?
          h5.mb-0 +980-34984089
        ul.d-flex.justify-content-end.list-unstyled.m-0
          li
            a.rounded-circle.bg-light.p-2.mx-1(href='#')
              svg(width='24' height='24' viewbox='0 0 24 24')
                use(xlink:href='#user')
          li
            a.rounded-circle.bg-light.p-2.mx-1(href='#')
              svg(width='24' height='24' viewbox='0 0 24 24')
                use(xlink:href='#heart')
          li.d-lg-none
            a.rounded-circle.bg-light.p-2.mx-1(href='#' data-bs-toggle='offcanvas' data-bs-target='#offcanvasCart' aria-controls='offcanvasCart')
              svg(width='24' height='24' viewbox='0 0 24 24')
                use(xlink:href='#cart')
          li.d-lg-none
            a.rounded-circle.bg-light.p-2.mx-1(href='#' data-bs-toggle='offcanvas' data-bs-target='#offcanvasSearch' aria-controls='offcanvasSearch')
              svg(width='24' height='24' viewbox='0 0 24 24')
                use(xlink:href='#search')
        .cart.text-end.d-none.d-lg-block.dropdown
          button.border-0.bg-transparent.d-flex.flex-column.gap-2.lh-1(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasCart' aria-controls='offcanvasCart')
            span.fs-6.text-muted.dropdown-toggle Your Cart
            span.cart-total.fs-5.fw-bold $1290.00
  .container-fluid
    .row.py-3
      .d-flex.justify-content-center.justify-content-sm-between.align-items-center
        nav.main-menu.d-flex.navbar.navbar-expand-lg
          button.navbar-toggler(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasNavbar' aria-controls='offcanvasNavbar')
            span.navbar-toggler-icon
          #offcanvasNavbar.offcanvas.offcanvas-end(tabindex='-1' aria-labelledby='offcanvasNavbarLabel')
            .offcanvas-header.justify-content-center
              button.btn-close(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
            .offcanvas-body
              select.filter-categories.border-0.mb-0.me-5
                option Shop by Departments
                option Groceries
                option Drinks
                option Chocolates
              ul.navbar-nav.justify-content-end.menu-list.list-unstyled.d-flex.gap-md-3.mb-0
                li.nav-item.active
                  a.nav-link(href='/products') Products
                li.nav-item.active
                  a.nav-link(href='#women') Women
                li.nav-item.dropdown
                  a.nav-link(href='#men') Men
                li.nav-item
                  a.nav-link(href='#kids') Kids
                li.nav-item
                  a.nav-link(href='#accessories') Accessories
                li.nav-item.dropdown
                  a#pages.nav-link.dropdown-toggle(role='button' data-bs-toggle='dropdown' aria-expanded='false') Pages
                  ul.dropdown-menu(aria-labelledby='pages')
                    li
                      a.dropdown-item(href='index.html') About Us 
                    li
                      a.dropdown-item(href='index.html') Shop 
                    li
                      a.dropdown-item(href='index.html') Single Product 
                    li
                      a.dropdown-item(href='index.html') Cart 
                    li
                      a.dropdown-item(href='index.html') Checkout 
                    li
                      a.dropdown-item(href='index.html') Blog 
                    li
                      a.dropdown-item(href='index.html') Single Post 
                    li
                      a.dropdown-item(href='index.html') Styles 
                    li
                      a.dropdown-item(href='index.html') Contact 
                    li
                      a.dropdown-item(href='index.html') Thank You 
                    li
                      a.dropdown-item(href='index.html') My Account 
                    li
                      a.dropdown-item(href='index.html') 404 Error 
                li.nav-item
                  a.nav-link(href='#brand') Brand
                li.nav-item
                  a.nav-link(href='#sale') Sale
                li.nav-item
                  a.nav-link(href='#blog') Blog