.container-fluid
  .bg-warning.py-5.rounded-5(style="background-image: url('/client/images/bg-pattern-2.png') no-repeat;")
    .container
      .row
        .col-md-4
          img.image-float.img-fluid(src='/client/images/phone.png' alt='phone')
        .col-md-8
          h2.my-5 Shop faster with foodmart App
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis sed ptibus liberolectus nonet psryroin. Amet sed lorem posuere sit iaculis amet, ac urna. Adipiscing fames semper erat ac in suspendisse iaculis. Amet blandit tortor praesent ante vitae. A, enim pretiummi senectus magna. Sagittis sed ptibus liberolectus non et psryroin.
          .d-flex.gap-2.flex-wrap
            img(src='/client/images/app-store.jpg' alt='app-store')
            img(src='/client/images/google-play.jpg' alt='google-play')