.container-fluid
    h2.my-5 People are also looking for
    a.btn.btn-warning.me-2.mb-2(href='#') Blue diamon almonds
    a.btn.btn-warning.me-2.mb-2(href='#') Angie&rsquo;s Boomchickapop Corn
    a.btn.btn-warning.me-2.mb-2(href='#') Salty kettle Corn
    a.btn.btn-warning.me-2.mb-2(href='#') Chobani Greek Yogurt
    a.btn.btn-warning.me-2.mb-2(href='#') Sweet Vanilla Yogurt
    a.btn.btn-warning.me-2.mb-2(href='#') Foster Farms Takeout Crispy wings
    a.btn.btn-warning.me-2.mb-2(href='#') Warrior Blend Organic
    a.btn.btn-warning.me-2.mb-2(href='#') Chao Cheese Creamy
    a.btn.btn-warning.me-2.mb-2(href='#') Chicken meatballs
    a.btn.btn-warning.me-2.mb-2(href='#') Blue diamon almonds
    a.btn.btn-warning.me-2.mb-2(href='#') Angie&rsquo;s Boomchickapop Corn
    a.btn.btn-warning.me-2.mb-2(href='#') Salty kettle Corn
    a.btn.btn-warning.me-2.mb-2(href='#') Chobani Greek Yogurt
    a.btn.btn-warning.me-2.mb-2(href='#') Sweet Vanilla Yogurt
    a.btn.btn-warning.me-2.mb-2(href='#') Foster Farms Takeout Crispy wings
    a.btn.btn-warning.me-2.mb-2(href='#') Warrior Blend Organic
    a.btn.btn-warning.me-2.mb-2(href='#') Chao Cheese Creamy
    a.btn.btn-warning.me-2.mb-2(href='#') Chicken meatballs