doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
  title #{titlePage}
  meta(name='description' content='')
  // Favicon
  link(rel='icon' type='image/x-icon' href='/admin/assets/img/favicon/favicon.ico')
  // Fonts
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap' rel='stylesheet')
  // Icons
  link(rel='stylesheet' href='/admin/assets/vendor/fonts/boxicons.css')
  link(href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet')
  // Core CSS
  link.template-customizer-core-css(rel='stylesheet' href='/admin/assets/vendor/css/core.css')
  link.template-customizer-theme-css(rel='stylesheet' href='/admin/assets/vendor/css/theme-default.css')
  link(rel='stylesheet' href='/admin/assets/css/demo.css')
  link(rel="stylesheet", href="/admin/assets/css/style.css")
  // Vendors CSS
  link(rel='stylesheet' href='/admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css')
  link(rel='stylesheet' href='/admin/assets/vendor/libs/apex-charts/apex-charts.css')
  // Page CSS
  // Helpers
  script(src='/admin/assets/vendor/js/helpers.js')
  script(src='/admin/assets/js/config.js')
  
// Layout wrapper
.layout-wrapper.layout-content-navbar
  .layout-container

    // Menu
    include ../partials/menu
    // / Menu

    // Layout container
    .layout-page

      // Navbar
      include ../partials/navbar
      // / Navbar

      // Content wrapper
      .content-wrapper
        .container-xxl.flex-grow-1.container-p-y
            block main
      // Content wrapper
      
    // / Layout page
    
  // Overlay
  .layout-overlay.layout-menu-toggle
// / Layout wrapper

// Core JS
// build:js assets/vendor/js/core.js
script(src='/admin/assets/vendor/libs/jquery/jquery.js')
script(src='/admin/assets/vendor/libs/popper/popper.js')
script(src='/admin/assets/vendor/js/bootstrap.js')
script(src='/admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js')
script(src='/admin/assets/vendor/js/menu.js')
script(src='/admin/js/script.js')
// endbuild
// Vendors JS
script(src='/admin/assets/vendor/libs/apex-charts/apexcharts.js')
// Main JS
script(src='/admin/assets/js/main.js')
// Page JS
script(src='/admin/assets/js/dashboards-analytics.js')
script(async='' defer='' src='https://buttons.github.io/buttons.js')
