.product-item h3{
  height: 2.5em; /* Giới hạn chiều cao trong khoảng 2 dòng văn bản */
  overflow: hidden; /* Ẩn phần vượt quá */
  text-overflow: ellipsis; /* Hiển thị dấu "..." nếu tên quá dài */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Giới hạn số dòng */
  -webkit-box-orient: vertical;
}
/* Drop down category  */
.drop-category {
  display: flex;
  list-style-type: none;
}

.drop-category  > li {
  position: relative;
}

.drop-category  > li > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  padding: 10px 0px;
  font-weight: bold;
  font-size: 12px
}

.dropdown-icon::after {
  content: "▼";
  font-size: 0.7em;
  margin-left: 5px;
}

.drop-category  .submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  min-width: 220px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 100;
  padding: 0px;
}

.drop-category  > li:hover > .submenu {
  opacity: 1;
  visibility: visible;
}

.drop-category .submenu li {
  list-style-type: none;
  position: relative;
}

.drop-category .submenu li a {
  display: block;
  padding: 12px 10px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.2s;
  font-size: 12px;
}

.drop-category .submenu li a:hover {
  background-color: #f5f5f5;
}

.drop-category .has-nested > a::after {
  content: "▶";
  position: absolute;
  right: 15px;
  font-size: 0.7em;
}
.drop-category .nested-submenu {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: white;
  min-width: 200px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 101;
  padding: 0;
}
.drop-category .submenu li:hover > .nested-submenu {
  opacity: 1;
  visibility: visible;
}
.drop-category .nested-submenu .has-nested {
  position: relative;
}

.drop-category .nested-submenu .nested-submenu {
  z-index: 102;
}
.drop-category .nested-submenu .nested-submenu .nested-submenu {
  z-index: 103;
}
/* End Drop down category  */

.image-container{
  width: 100%;
  height: 70px;
}

.image-container img{
  width: auto;
  height: 100%;
  object-fit: contain;
}

/* chat */
.chat {
  width: 80%;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
}

.chat .inner-head {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.chat .inner-head .inner-avatar {
  background: #FE5DA3;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: inline-block;
  font-weight: 700;
  text-align: center;
  line-height: 32px;
  color: #fff;
}

.chat .inner-head .inner-name {
  display: inline-block;
  font-weight: 600;
  margin-left: 5px;
}

.chat .inner-body {
  padding: 10px;
  max-height: 450px;
  overflow-y: auto;
}

.chat .inner-body .inner-name {
  font-weight: 600;
}

.chat .inner-body .inner-content {
  background: #F1F1F1;
  margin-bottom: 10px;
  max-width: 220px;
  padding: 5px 10px;
  border-radius: 15px;
  line-height: 1.4;
}

.chat .inner-outgoing .inner-content {
  margin-left: auto;
  background: #FE5DA3;
  color: #fff;
}

.chat .inner-foot {
  border-top: 1px solid #ddd;
  padding: 10px;
}

.chat .inner-form {
  display: flex;
  align-items: center;
}

.chat .inner-form input {
  flex: 1;
  height: 32px;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 0 10px;
  outline: none;
}

.chat .inner-form button {
  border-radius: 15px;
  border: 1px solid #FE5DA3;
  background: #FE5DA3;
  color: #fff;
  height: 32px;
  padding: 0 10px;
  cursor: pointer;
}

.chat .inner-body .inner-images img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  background: #efefef;
  padding: 10px;
  margin: 0 5px 5px 0;
  border-radius: 5px;
}

.chat .inner-body .inner-outgoing .inner-images {
  margin-left: auto;
  text-align: right;
}

.chat .inner-body .inner-outgoing .inner-images img {
  margin: 0 0 5px 5px;
}

.chat .inner-preview-images {
  position: relative;
}

.chat .inner-preview-images .label-container {
  display: none;
}

.chat .inner-preview-images .input-container {
  display: none;
}

.chat .inner-preview-images .image-preview {
  height: auto;
  padding: 0;
  border-radius: 0;
}

.chat .inner-preview-images .image-preview-item {
  width: 90px;
  background-size: contain;
}
/* End chat */
