mixin form-sort-multi()
    .row.align-item.center
        .col-sm-8.col-12.p-0
            select(
                class="form-select text-left mb-2 ms-2"
                name="sort"
            )
                option(value='position-desc') POSITON DESCENDING
                option(value='position-asc') POSITON ASCENDING
                option(value='price-desc') PRICE DESCENDING
                option(value='price-asc') PRICE ASCENDING
                option(value='title-asc') TITLE A - Z
                option(value='title-desc') TITLE Z - A
        .col-4.ps-2
            button(
                class="btn btn-danger fs-sm-10 mb-2"
                button-clear-sort
            ) Clear