mixin form-sort-multi()
    .row.m-0
        .col-md-8.col-12.p-0.mb-2.pe-md-2.pe-0
            select(
                class="form-select"
                name="sort"
            )
                option(value='position-desc') POSITON DESCENDING
                option(value='position-asc') POSITON ASCENDING
                option(value='price-desc') PRICE DESCENDING
                option(value='price-asc') PRICE ASCENDING
                option(value='title-asc') TITLE A - Z
                option(value='title-desc') TITLE Z - A
        .col-4.p-0.mb-2
            button(
                class="btn btn-primary fs-sm-10"
                button-clear-sort
            ) Clear