mixin sub-menu(items, path, hasNested)
    ul(class= (hasNested==true) ? "nested-submenu" : "submenu")
        each item in items 
            li(class=(item.children && item.children.length > 0) ? "has-nested" : "")
                a(href=`${path}/${item.slug}`) #{item.title}
                if item.children && item.children.length > 0
                    +sub-menu(item.children, path, true)