extends ../../layouts/auth
include ../../mixins/alert
block main 
  +alert-success("5000")
  +alert-error("5000")
  h4.mb-2 Enter the verification code &#x1F512;
  form#formAuthentication.mb-3(action='/user/password/otp' method='POST')
    .mb-3
      label.form-label(for='email') Email
      input#email.form-control(type='text' name='email' placeholder='Enter your email' required readonly value=email)
    .mb-3 
      label.form-label(for='otp') OTP code
      input#email.form-control(type='text' name='otp' autofocus='' required)
    button.btn.btn-primary.d-grid.w-100 Confirm
  .text-center
    a.d-flex.align-items-center.justify-content-center(href='/user/login')
      i.bx.bx-chevron-left.scaleX-n1-rtl.bx-sm
      |                   Back to login