extends ../../layouts/auth
include ../../mixins/alert
block main 
    +alert-success("5000")
    +alert-error("5000")
    h4.mb-2 Reset Password
    p.mb-4 Enter your new password and confirm password
    form#formAuthentication.mb-3(action=`/user/password/reset` method='POST')
        .mb-3.form-password-toggle
            .input-group.input-group-merge
                input#password.form-control(type='password' name='password' placeholder='············' aria-describedby='password')
                span.input-group-text.cursor-pointer
                    i.bx.bx-hide
        .mb-3.form-password-toggle
            .input-group.input-group-merge
                input#password.form-control(type='password' name='confirmPassword' placeholder='············' aria-describedby='password')
                span.input-group-text.cursor-pointer
                    i.bx.bx-hide
        .mb-3
            button.btn.btn-primary.d-grid.w-100(type='submit') Reset