/* Alert */
[show-alert] {
    position: fixed;
    top: 17px;
    right: 32px;
    z-index: 9999;
}

[show-alert].alert-hidden {
    animation-name: alert-hidden;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes alert-hidden {
    from {
        right: 15px;
    }
    to {
        right: -100%;
        display: none;
    }
}

[show-alert] [close-alert] {
    background: #ffffffc4;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: 600;
    border-radius: 50%;
    cursor: pointer;
}
/* End Alert */

/* Image Preview */
.image-preview {
    width: 150px;
    height: auto;
    margin-top: 15px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
  }
  
  .image-preview[src=""] {
    display: none;
  }
  /* End Image Preview */

  @media (max-width: 576px) { /* Áp dụng cho sm hoặc nhỏ hơn */
    .fs-sm-10 {
      font-size: 10px !important;
    }
    .p-sm-8{
      padding: 8px !important;
    }
  }