extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-tab.pug
include ../../mixins/section-blog.pug

block main      
  section
    .container-fluid
      +product-tab(titlePage, products)
  +section-blog("Our product blogs", blogs)

  section.py-5.my-5
    include ../../partials/hero-banner

  section.py-5
    include ../../partials/product_recommendations

  section.py-5
    include ../../partials/service_benefits
      