// Menu
aside#layout-menu.layout-menu.menu-vertical.menu.bg-menu-theme
    .menu-inner-shadow
    ul.menu-inner.py-1.mt-3
        // Dashboard
        li.menu-item
            a.menu-link(href='/admin/dashboard')
                i.menu-icon.tf-icons.bx.bx-home-circle
                div(data-i18n='Analytics') Dashboard
        // Layouts
        li.menu-item
            a.menu-link(href='/admin/products')
                i.menu-icon.tf-icons.bx.bxl-redbubble.mb-2
                div(data-i18n='Analytics') Product List
// / Menu